.wrapper__component {
  cursor: pointer;
  color: var(--dark-50);
  display: grid;
  border-radius: 8px;

  &:hover {
    .wrapper__component__header {
      border-radius: .5rem;
      background-color: var(--blue-300);
      color: var(--dark-950);
    }
  }

  &:has(.wrapper__component__items--show){
    background-color: var(--dark-400);
  }
}

.wrapper__component__header {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
}

.wrapper__component__header__btn {
  padding: 5px;
  padding-left: 8px;
  border-radius: 8px;
  border: transparent;
  background-color: transparent;
  color: var(--dark-50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;

  & svg {
    transition: all 150ms ease-in-out;
  }

  &:hover {
    background-color: var(--blue-300);
    color: var(--dark-950);
  }

  &:hover svg {
    color: var(--dark-50);

    &:nth-child(2) {
      fill: var(--dark-50);
    }
  }
}

.wrapper__component__items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
  scrollbar-width: thin;
}

.wrapper__component__items--show {
  opacity: 1;
  max-height: 200px;
  visibility: visible;
  overflow: auto;
  margin: 8px 0px 8px 12px;
}


body[light] {
  .wrapper__component:has(.wrapper__component__items--show){
    background-color: var(--light-100);
  }

  .wrapper__component,
  .wrapper__component__header__btn {
    color: var(--dark-950);
  }
}